body{
    /* font-family: SpaceMono; */
    text-align: center;
    background: linear-gradient(to right, rgb(221, 238, 159) 0%, rgba(21,165,239,1) 100%);
}
p{
    text-align: center;
}
.myCanvas{
    background-color: white;
    box-shadow: 2px 2px 5px grey;
}